* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ul_navbar {
    display: flex;
    background-color: #f1a6daa9;
    padding: 20px;
    color: black;
    list-style-type: none;
    gap: 10px;
}

.li_navbar a {
    text-decoration: none;
    color: black;
    font-size: 20px;

}

.li_navbar.active a {
    text-decoration: underline double;
}

.li_navbar a:hover {
    color: bisque;
}

.banner1_bienvenidos {
    background-color: #d2a5fb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
    padding: 16px;
    height: 30vh;
}


.banner1_bienvenidos h1 {
    font-size: 24px;
    padding: 20px;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
}

.banner1_bienvenidos h3 {
    font-size: 20px;

}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor img {
    width: 50vh;
}




.banner2 {
    margin: 60px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    background-color: #e1cff3
}

.marcas {
    display: flex;
    padding: 20px;
    gap: 15px;
    justify-content: center;

}

.marca {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 5px;
    background-color: #dbabd589;
    border-radius: 30px;
    overflow: hidden;
}

.marca_info {
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
    gap: 20px;
}

.marca_logo {

    width: 100%;
    margin: 10px;
    border-radius: 10px;

}

.marca_titulo {
    font-size: 30px;
}

.ul_footer {
    display: flex;
    justify-content: flex-end;
    background-color: #f1a6daa9;
    padding: 20px;
    color: black;
    list-style-type: none;
    gap: 10px;

}

/*pagina de quienes somos*/

.main_quienessomos {
    display: flex;
    justify-items: center;
    align-items: center;
}
.info_quienessomos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-left:1rem;
}
.logo_hope {
    padding: 3rem;
    width: 100vh;
    border-radius: 6rem;
    margin: 3rem;
}


/*Empezamos con la tienda online */
.tienda {
    padding: 1rem;
}
.tienda_titulo {
    text-align: center;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tienda_titulo h3 {
    background-color: #e1cff376;
    font-size: 2rem;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 1rem;
}
.tienda_titulo h5 {
    padding: 1rem;
    font-size: 1.5rem;
    font-style: italic;
    
}
.tienda_items {
    display: flex;
    gap: 1rem;
}
.tienda_item {
    flex: 1;
    flex-direction:column;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    margin: 0.5rem;
    background-color: #e1cff3;
    border-style:dotted ;
    
}
.tienda_item:hover {
    border-style: hidden;
}
.tienda_item img {
    max-width: 100%;
    border-radius: 1rem;
}
.tienda_item h4 {
    text-align: center;
    font-size: 1.5rem;
}
.tienda_item p {
    text-align: center;
}